.MainScreen__Movies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto 1fr auto);
    gap: 20px;

    .movie{
        width: 90%;
        border: solid $black 2px;
        
        /** Sub grid **/
        display: grid;
        grid-row: span 3;
        // row
        grid-template-rows: auto auto 1fr;
        grid-template-rows: subgrid;    
        // column
        grid-column: span 1;
        grid-template-columns: subgrid;
        // min-height: 100%;
        .box-poster_path{
            grid-column: 1/2;
            text-align: center;
            position: relative;
            .poster_path{
                width: 100%;
                padding: 15px;
                box-sizing: border-box;
            }
            .vote_average{
                position: absolute;
                right: auto;
                left: 100%;
                bottom: 100%;
                top: auto;
            }
        }
    }
    
}